# Unity generated
Library/
Temp/
Obj/
Build/
Builds/
Logs/
UserSettings/

# Visual Studio / Rider
.vs/
.idea/
*.csproj
*.sln

# OS
.DS_Store
Thumbs.db

# Unity asset meta files (keep these!)
# *.meta  <-- do NOT ignore these

# Crashes
sysinfo.txt
Crashes/

# Asset Store tools
AssetStoreTools*
/8K Skybox Pack Free
Assets/Footsteps - Essentials
Assets/8K Skybox Pack Free
Assets/AllSkyFree/
Assets/Material
Assets/RainMaker

*.anim
*.anim.meta
*.meta
